<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">

  <meta name="author" content="">

  <title>Project Vault</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://kit.fontawesome.com/38d7facff3.js" crossorigin="anonymous"></script>

  <!-- Custom styles for this template -->
  <link href="css/heroic-features.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
  <link href="css/style2.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      {{!-- <img src="/img/logo.png" height='50'> --}}
      <a class="navbar-brand ml-2" href="https://www.northrange.dev">Project Vault</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="https://www.northrange.dev">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>


          <li class="nav-item">
            <a href="/contact" class="nav-link" href="#">Contact</a>
          </li>
          <li class="nav-item">
            <a href="/add_project" class="nav-link" href="#">Add Project</a>
          </li>
          <li class="nav-item">
            <a href="/logout" class="nav-link" href="#">Logout</a>
          </li>
        </ul>
  </nav>

  <header class="masthead">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12 text-center">
          <h1 class="font-weight-light display-2">A Market for New and Upcoming Talent</h1>
          <p class="lead" id="header-description">Featuring a collection of projects from DigitalCrafts!</p>
        </div>
      </div>
    </div>
  </header>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Page Content -->
  <div class="container">
    {{!-- <!-- Jumbotron Header -->
    <header class="masthead">
      <h1 class="display-3 text-center">A Market for New and Upcoming Talent</h1>
      <p classcenter">We have a wide selection of equipment ranging from live performance to recording!</p>
    </header> --}}




    <h6 id="card-description-title">Filter By Technology</h2>
      <input type="text" id="myFilter" class="form-control" onkeyup="myFunction()" placeholder="Search for names..">


      <!-- Page Features -->

      <div class="row text-center justify-content-center" id="myItems">
        {{#each lists}}
        <div class="col-4">
          {{!-- col-lg-2 col-md-2 mb-4 --}}

          <div class="card h-100">
            <a href=" /category/{{this.category_id}}"><img class="card-img-top" src="/uploads/{{this.category_picture}}"
                alt=""></a>
            <div class=" card-body d-flex flex-column mt-auto">
              <h4 class="card-title">{{this.category_name}}</h4>
              <h6 id="card-description-title">Group Name</h2>
                <p class="card-text">{{this.category_team_name}}</p>
                <h6 id="card-description-title">Description</h2>
                  <p class="card-text">{{this.category_description}}</p>
                  <h6 id="card-description-title">Languages Used</h2>
                    <div>
                      {{#if this.category_javascript}}
                      <i class="fab fa-js-square" id="indIcon"></i>
                      <p class="card-text card-newdisplay" id="testThis">{{this.category_javascript}}</p>
                      {{/if}}

                      {{#if this.category_react}}
                      <i class="fab fa-react" id="indIcon"></i>
                      <p class="card-text card-newdisplay" id="testThis">{{this.category_react}}</p>
                      {{/if}}

                      {{#if this.category_html}}
                      <i class="fab fa-html5" id="indIcon"></i>
                      <p class="card-text card-newdisplay" id="testThis">{{this.category_html}}</p>
                      {{/if}}
                    </div>
                    {{!-- <p class="card-text card-newdisplay" id="testThis">{{this.category_languages}}</p> --}}




            </div>
            <div class="card-footer">
              <a href="/category/{{this.category_id}}" class="btn btn-primary" id="checkout-btn">View Details</a>
            </div>
          </div>

        </div>
        {{/each}}
      </div>
      <!-- /.row -->

  </div>
  <!-- /.container -->
</body>
<!-- Footer -->
<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; Matthew Alagala 2020</p>
  </div>
  <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script>
  function myFunction() {
    var input, filter, cards, cardContainer, h4, title, i;
    input = document.getElementById("myFilter");
    filter = input.value.toUpperCase();
    cardContainer = document.getElementById("myItems");
    cards = cardContainer.getElementsByClassName("card");
    for (i = 0; i < cards.length; i++) {
      title = cards[i].querySelector(".card-body #testThis");
      if (title.innerText.toUpperCase().indexOf(filter) > -1) {
        cards[i].style.visibility = "visible";
      } else {
        cards[i].style.visibility = "hidden";
      }
    }
  }

</script>


</body>

</html>