<!DOCTYPE html>
<html class='no-js' lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Project Vault</title>



  <!-- Bootstrap core CSS -->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
  <script src="https://kit.fontawesome.com/38d7facff3.js" crossorigin="anonymous"></script>



  <!-- Custom styles for this template -->
  <link href="/css/heroic-features.css" rel="stylesheet">
  <link href="/css/style2.css" rel="stylesheet">
  <link href="/css/style.css" rel="stylesheet">
  <style>
    .bs-example {
      margin: 20px;
    }
  </style>







  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css" />


</head>

<body>
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      {{!-- <img src="/img/logo.png" height='50'> --}}
      <a class="navbar-brand ml-2" href="/">Stats App</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>


          <li class="nav-item">
            <a href="/contact" class="nav-link" href="#">Contact</a>
          </li>
          <li class="nav-item">
            <a href="/add_project" class="nav-link" href="#">Add Project</a>
          </li>
          <li class="nav-item">
            <a href="/logout" class="nav-link" href="#">Logout</a>
          </li>
        </ul>
  </nav>



  <!-- Page Content -->

  <!-- Jumbotron Header -->
  <header class="masthead">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
         {{#each theDivisions}}
        <div class="col-12 text-center">
          <h1 class="font-weight-light display-2">{{this.division_name}} Teams</h1>
        </div>
         {{/each}}
      </div>
    </div>
  </header>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Page Content -->
  <div class="container">
  <!-- Page Features -->



  <div class="row text-center justify-content-center" id="myItems">
        {{#each theTeams}}
    <div class="col-4">
          {{!-- col-lg-2 col-md-2 mb-4 --}}

          <div class="card h-100">
            <a href=" /category/{{this.division_id}}"><img class="card-img-top" src="{{this.division_logo}}" alt=""></a>
            <div class=" card-body d-flex flex-column mt-auto">
              <h4 class="card-title">{{this.team_name}}</h4>
            </div>
    <div class="container">

    <div class="row text-left justify-content-center">

      <div class="col-lg-8 col-md-3 mb-4">
        <h5 id="card-description-title">Wins: {{this.wins}}</h5>
        <h5 id="card-description-title">Losses: {{this.losses}}</h5>
        <h5 id="card-description-title">Ties: {{this.ties}}</h5>
      </div>

    <div class="col-lg-4 col-md-3 mb-4">

        <h5 id="card-description-title">Division Rank: {{this.division_rank}}</h5>
        <h5 id="card-description-title">League Rank: {{this.league_rank}}</h5>
      
    </div>

    </div>

  </div>

            <div class="card-footer">
              <a href="/category/{{this.division_id}}" class="btn btn-primary" id="checkout-btn">View Details</a>
            </div>
          </div>

        </div>
        {{/each}}
      </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; CMSC 495 Group 2</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script>
    $(".gallery").magnificPopup({
      delegate: "a",
      type: "image",
      gallery: {
        enabled: true,
      },
    });
  </script>


  <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/app.js"></script>

</body>

</html>